body {
background-color: #FFC0CB;

}

#titulo {
    font-size:30px;
    text-align: center;
    color: rgb(165, 42, 87);
}


.texto{
    text-align: center;
    color:#ff006a;
    font-size: 20px;
}

#banner {
    width: 50%;
    margin: 20px;
    padding: 5px;
}
.titulo {
    text-align: center;
    background-image: linear-gradient(#FF00FF, #EE82EE);
    color: #8B008B;

}
header{
    padding:20px;
    background-color:rgba(210, 23, 154, 0.607);
    border-bottom: 2px solid black;
    font-size:20 px;
    color: #4b084b;

}
.cabecalho-titulo {
    font-size: 20px;
    color: #4b084b;
}
.cabecalho-imagem {
    width:10%;
    height: 10%;
    padding: 5px;
    background-color:rgba(210, 23, 154, 0.607);
    marg
}